/*UTILITY*/
.debug{
    background-color: aquamarine;
    border: 1px solid black;
}

.btn_border_radius{
    border-radius: 20px;
    
}

.color{
    color: black;
}

.h500{
    height: 500px;
}
.h100{
    height: 100px;
}

/*general*/

body{
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    width: 100%;
}

/*header*/
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    
    
    
    
}
header ul li  a{
    color: black;
}

.sony_logo{
    
    height: 25px;
    width: 80px;
    
}

 .nav_style{
    color: black;
    font-weight: bold;
}

/*jumbotron*/

.jumbotron{
    
    width: 100%;
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-position:center;
    background-size: cover;
    color: white;
}

.jumbotron-content{
    width: 400px;
    height: 450px;
    padding-left: 50px;
}

.jumbotron-content h2{
    font-size: 40px;
}

.jumbotron-content img{
    width: 100%;
}


/* card*/


.card img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease;
}

.card img:hover{
    transform:translateY(-20px);
    border: 5px solid #6bade2;
    border-radius: 10px;
}
    

/*console*/
.console h2{
    font-size: 50px;
}

.console p{
    font-size: 20px;
    color: grey;
    
}
.console span{
    text-transform: uppercase;
    color: #4b9cdd;
    font-weight: bold;
}
.console img{
    width: 100%;
}

.console .products:hover{
    opacity: 0.5;
    cursor: pointer;
    
}

.active{
    border-bottom: #4b9cdd;
}



.jumbotron-banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    
}


.card-2{
    color: white;
}

.card-2 h3{
    padding-top:  20px; 
}


.prodact-2 img{
    width: 100%;
}
.prodact-2 p{
    color: grey;
    font-weight: bold;
}


.jumbo-banner-plus{
    background-color: #bebcbb;
}



.jumbo-banner-plus-content img{
    width: 500px;
}
